@*@using Microsoft.AspNet.Identity*@
@using MODEL;
@{
    Members member = Session["MemberInfo"] as Members;
}
@*这个是分部视图，分部视图类似于WEB FORM中的用户自定义控件。*@
@if (member != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="javascritp:void(0);">@("你好 " + member.MemberAccount + "!")</a>
        </li>
        <li><a href="/Members/SignOut">注销</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("注册", "Register", "Members", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("登录", "Login", "Members", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
